/* ------------------------------------------------------------------------------- */

/* CAMPO RELEASE (PÁGINA INICIAL) */

.box-release {
    display: block;
    padding: 10px;
    border-radius: 20px;
  }
  
#inputRelease1, #inputRelease2, #inputRelease3, #inputRelease4, #inputRelease5, #inputRelease6, #inputRelease7,
#inputRelease8, #inputRelease9, #inputRelease10, #inputRelease11, #inputRelease12, #inputRelease13, #inputRelease14,
#inputRelease15, #inputRelease16, #inputRelease17, #inputRelease18, #inputRelease19, #inputRelease20 {
  background-color: #444;
  width: 100%;
  margin: 6px 0px 6px 0px;
  border: 20px;
  outline: 1px solid black;
  outline-offset: 2px;
}

/* ------------------------------------------------------------------------------- */

/* CAIXA COM CONTEÚDO (PÁGINAS INICIAL) */

#box-section-home {
  background-color: aliceblue;
  padding: 30px;
  border-radius: 30px;
  margin: 0px 0px 50px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.70);
}

/* ------------------------------------------------------------------------------- */