/* ------------------------------------------------------------------------------- */

@media (max-width : 1060) {

    html {
      font-size: 50%;
    }
  
    header #navbar {
      height: 15vh;
    }
  
    li {
      border-radius: 10px;
      width: 100px;
      outline: 2px solid white;
      outline-offset: 2px;
      margin: 0px 15px 15px 0px;
      text-align: center;
      justify-content: center;
    }
  
    ul a {
      font-size: 1.4rem;
    }
  
    #brandimg {
      width: 35px;
      height: 35px;
      margin-left: 15px;
    }
  
    .navbar-nav {
      flex-direction: row;
      display: flex;
    }
  
    .collapse {
      margin-right: 60px;
      margin-bottom: 20px;
      margin-top: 15px;
      height: 20px;
    }
  
    ul {
      margin-top: 20px;
    }
}
  
@media (max-width : 884px) {
  
    .navbar-toggler {
      background-color: orangered;
      width: 50px;
      text-align: center;
      justify-content: center;
      align-items: center;
      position: absolute;
      margin-right: 20px;
      top: 35px;
      right: 0;
    }
  
    html {
      font-size: 50%;
    }
  
    header #navbar {
      height: 15vh;
    }
  
    li {
      border-radius: 10px;
      width: 100px;
      outline: 2px solid white;
      outline-offset: 2px;
      margin: 0px 15px 15px 0px;
      text-align: center;
      justify-content: center;
    }
  
    .navbar-toggler {
      background-color: orangered;
      width: 50px;
      text-align: center;
      justify-content: center;
      align-items: center;
      position: absolute;
      margin-right: 20px;
      top: 35px;
      right: 0;
    }
  
    ul a {
      font-size: 1.4rem;
    }
  
    #brandimg {
      width: 35px;
      height: 35px;
      margin-left: 15px;
    }
  
    .navbar-nav {
      flex-direction: row;
      display: flex;
    }
  
    .collapse {
      margin-right: 60px;
      margin-bottom: 20px;
      margin-top: 15px;
      height: 20px;
    }
  
    ul {
      margin-top: 20px;
    }
}
  
@media (max-width : 663px) {
  
    html {
      font-size: 50%;
    }
  
    .navbar-toggler {
      background-color: orangered;
      width: 50px;
      text-align: center;
      justify-content: center;
      align-items: center;
      position: absolute;
      margin-right: 20px;
      top: 35px;
      right: 0;
    }
  
    header #navbar {
      height: 20vh;
    }
  
    #brandimg {
      width: 30px;
      height: 30px;
      margin-left: 15px;
    }
  
    .navbar-toggler {
      position: absolute;
      margin-right: 20px;
      top: 25px;
      right: 0;
    }
    
    .input-group {
      border-radius: 10px;
      width: 300px;
      outline: 1px solid white;
      outline-offset: 3px;
      margin-left: 60px;
      font-size: 1.4rem;
    }
  
    #box-title {
      text-align: center;
      margin: 100px 0px 50px 0px;
    }
  
    #box-section {
      padding: 15px;
      border-radius: 30px;
      margin: 0px 0px 50px 0px;
    }
  
    #box-section-home {
      padding: 15px;
      border-radius: 30px;
      margin: 0px 0px 50px 0px;
    }
  
    button {
        width: 70%;
    }
  
    button:hover {
        transition: .4s;
    }
  
}
  
@media (max-width : 531px) {
  
    header #navbar {
      height: 20vh;
    }
  
    #brandimg {
      opacity: 0;
    }
  
    #brandtext {
      opacity: 0;
    }
  
    .navbar-toggler {
      width: 30px;
      position: absolute;
      margin-right: 20px;
      top: 22px;
      right: 0;
    }
  
    .input-group {
      width: 400px;
      margin-left: 5px;
    }
  
    .collapse {
      margin-right: 50px;
      margin-top: 15px;
    }
  
    ul {
      margin-top: 20px;
    }
  
    li {
      border-radius: 10px;
      width: 70px;
      outline: 2px solid white;
      outline-offset: 2px;
      margin: 0px 15px 5px 0px;
      text-align: center;
      justify-content: center;
    }
  
    ul a {
      font-size: .8rem;
    }
  
    #box-title {
      text-align: center;
      margin: 50px 0px 30px 0px;
    }
  
    #box-section {
      padding: 15px;
      border-radius: 30px;
      margin: 0px 0px 30px 0px;
    }
  
    #box-section-home {
      padding: 15px;
      border-radius: 30px;
      margin: 0px 0px 30px 0px;
    }
  
    button {
        width: 70%;
    }
  
    button:hover {
        transition: .4s;
    }
  
}
  
@media (max-width : 425px) {
  
    html {
      font-size: 50%;
    }
  
    #brandimg {
      width: 0px;
      height: 0px;
    }
  
    #brandtext {
      font-size: 0px;
  }
  
    .input-group {
      border-radius: 10px;
      outline: 1px solid white;
      outline-offset: 3px;
      margin-left: 10px;
      font-size: 1rem;
    } 
  
    #box-title {
      text-align: center;
      margin: 130px 0px 50px 0px;
    }
  
    #box-section {
      padding: 15px;
      border-radius: 30px;
      margin: 0px 0px 50px 0px;
    }
  
    #box-section-home {
      padding: 15px;
      border-radius: 30px;
      margin: 0px 0px 50px 0px;
    }
  
    button {
        width: 70%;
    }
  
    button:hover {
        transition: .4s;
    }
  
    header #navbar {
      height: 15vh;
    }
  
    li {
      border-radius: 10px;
      width: 100px;
      outline: 2px solid white;
      outline-offset: 2px;
      margin: 0px 18px 0px 0px;
      text-align: center;
      justify-content: center;
      position: absolute;
      top: 50;
      left: 10px;
    }
  
    .navbar-toggler {
      background-color: orangered;
      width: 30px;
      text-align: center;
      justify-content: center;
      align-items: center;
      position: absolute;
      margin-right: 20px;
      top: 35px;
      right: 0;
    }
  
    .navbar-nav {
      flex-direction: row;
      display: flex;
    }
}
  
@media (max-width : 425px) {
  
    li {
      border-radius: 10px;
      width: 85px;
      outline: 2px solid white;
      outline-offset: 2px;
      margin: 0px 18px 0px 0px;
      text-align: center;
      justify-content: center;
      position: absolute;
      top: 50;
      left: 10px;
    }
  
    .input-group {
      border-radius: 10px;
      outline: 1px solid white;
      outline-offset: 3px;
      margin-left: -20px;
      font-size: 1rem;
    } 
  
}
  
@media (max-width : 320px) {
  
    .input-group {
      width: 250px;
    }
  
    li {
      border-radius: 10px;
      width: 65px;
      outline: 2px solid white;
      outline-offset: 2px;
      margin: 0px 18px 0px 0px;
      text-align: center;
      justify-content: center;
      position: absolute;
      top: 50;
      left: 10px;
    }
  
}