/* Gerais */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
  
html { /*  a cada 1rem será considerado 10px */
  font-size: 62,5%;
}
  
body {
  height: 100vh;
  width: 100vw;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  background-position: center center;
  background-attachment: scroll;
  background-size: contain;
}

/* ------------------------------------------------------------------------------- */

/* SCROLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 30px;
}

/* ------------------------------------------------------------------------------- */

/* CAMPOS INPUT */

.input-group {
  background-color: aliceblue;
  border-radius: 10px;
  outline: 1px solid white;
  outline-offset: 3px;
  padding: 10px;
  align-content: center;
  justify-content: space-around;
}

/* POSIÇÃO CAMPOS INPUT ENTRADA (CALCULADORAS) */

.entrada {
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
}

/* ------------------------------------------------------------------------------- */


#inputRelease1, #inputRelease2, #inputRelease3, #inputRelease4, #inputRelease5, #inputRelease6, #inputRelease7,
#inputRelease8, #inputRelease9, #inputRelease10, #inputRelease11, #inputRelease12, #inputRelease13, #inputRelease14,
#inputRelease15, #inputRelease16, #inputRelease17, #inputRelease18, #inputRelease19, #inputRelease20 {
  background-color: #444;
  width: 100%;
  margin: 6px 0px 6px 0px;
  border: 20px;
  outline: 1px solid black;
  outline-offset: 2px;
}

/* ------------------------------------------------------------------------------- */

/* CAMPOS INPUT SAIDA (CALCULADORAS) */

#input1, #input2, #input3, #input4, #input5, #input6, #input7, #input8, #input9, #input10,
#input11, #input12, #input13, #input14, #input15, #input16, #input17, #input18, #input19, #input20,
#input21, #input22, #input23, #input24, #input25, #input26, #input27, #input28, #input29, #input30, #input31 {
  background-color: white;
  border-radius: 10px;
  outline: 1px solid #333;
  outline-offset: 3px;
  padding: 10px;
}

#input1:hover, #input2:hover, #input3:hover, #input4:hover, #input5:hover, #input6:hover, #input7:hover, #input8:hover,
#input9:hover ,#input10:hover, #input11:hover, #input12:hover, #input13:hover, #input14:hover, #input15:hover, #input16:hover,
#input17:hover, #input18:hover, #input19:hover, #input20:hover, #input21:hover, #input22:hover, #input23:hover, #input24:hover, #input25:hover,
#input26:hover, #input27:hover, #input28:hover, #input29:hover, #input30:hover {
  transition: .5s;
  background-color: rgb(127, 252, 102);
}

/* POSIÇÃO CAMPOS INPUT SAIDA (CALCULADORAS)*/

.saida {
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
}

/* ------------------------------------------------------------------------------- */